.header {
  padding: 0 30px;
  height: 70px;
  background-color: #11437c;
  color: rgb(245, 245, 245);

  &__nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-list {
      width: 250px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & .item {
        &__button {
          background-color: transparent;
          outline: none;
          border: none;
          color: rgb(245, 245, 245);
          cursor: pointer;
          font-size: 15px;
          font-weight: 200;
        }
      }
    }
  }
}
